dataset/Ritesh/Ritesh.jpg
dataset/Ritesh/IMG20260608113307.jpg
dataset/Papa/20220709_103358 conv.jpeg
dataset/Mammi/IMG20220711134414.jpg
dataset/Anjali/20220711_112426 conv.jpeg
database/Ritesh.npy
database/Papa.npy
database/Mammi.npy
database/Anjali.npy
